* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

/* nprogress的默认样式修改 */

#nprogress .bar {
  background: var(-el-color-primary);
}

#nprogress .spinner-icon {
  border-top-color: var(-el-color-primary);
  border-left-color: var(-el-color-primary);
}

/* 增删改查页面的table样式修改 */

.table-crud {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table-filter {
  background-color: #ffffff;
  padding: calc(var(--el-main-padding) / 2);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .table-filter-options {
    display: flex;
    justify-content: flex-end;
  }
}

.el-table__cell .cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-item-options {
  display: flex;
  align-items: center;
}

.table-result {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  padding: 12px;
  flex: 1;
  background-color: #fff;
}

.el-table {
  flex: 1;
}

.table-options {
  display: flex;
  justify-content: flex-end;
}
.el-table,
.table-pagination-block {
  margin-top: var(--el-main-padding);
}

.table-pagination-block {
  display: flex;
  justify-content: flex-end;
}

.el-menu-item.is-active {
  background-color: var(--el-menu-hover-bg-color);
}

.el-menu-item.is-active::after {
  content: "";
  position: absolute;
  left: 0;
  width: var(--el-border-radius-base);
  height: 100%;
  background-color: var(--el-menu-active-color);
}

/* 自己的 */
.w-240 {
  width: 220px;
}
